{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Welcome, {{ investor.company_name }}</h1>

    <div class="row">
      <div class="col-md-4">
        <img src="{{ investor.company_logo.url }}" alt="{{ investor.company_name }} Logo" class="img-fluid" width="100" height="100">
      </div>
      <div class="col-md-4">
        <h4>Total Investments</h4>
        <h5>{{ investor.get_investments_count }}</h5>
      </div>
      <div class="col-md-4">
        <h4>Total Apartments</h4>
        <h5>{{ investor.get_apartments_count }}</h5>
      </div>
    </div>

    <div class="mt-4">
      <h2>Navigation</h2>
      <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'messages:my_messages' %}">My Messages</a> </li>
        <li class="list-group-item"><a href="{% url 'investments:my_investments' %}">My Investments</a></li>
        <li class="list-group-item"><a href="{% url 'users:profile' investor.id %}">Profile</a></li>
      </ul>
    </div>
  </div>
{% endblock %}