{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div id="map" style="height: 300px; width: 1000px"></div>
    <h1>Apartment Detail</h1>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Building Number: {{ apartment.building_number }}</h2>
        <p class="card-text">Apartment Number: {{ apartment.apartment_number }}</p>
        <p class="card-text">Area: {{ apartment.area }} square meters</p>
        <p class="card-text">Rooms: {{ apartment.get_rooms_str }}</p>
      </div>
    </div>

    <h3>Images</h3>
    <div class="row">
      {% for image in apartment.images.all %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="card-img-top">
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-2 col-md-6">
        <h4>Contact</h4>
        <p><strong>Investor: </strong><a href="{% url 'users:profile' investor.id %}" class="primary-link">{{ investor }}</a></p>
        <p><strong>Email: </strong>{{ investor.user.email }}</p>
        <p><strong>Phone number: </strong><span id="phoneNumber">*********</span><span id="showNumber" class="text-primary" style="cursor: pointer;"> Show</span></p>
        <a href="{% url 'messages:send_message' %}?default_receiver={{ investor.user.id }}" class="btn btn-outline-primary">Send Message</a>
    </div>
  </div>

    <script>
        let phoneNumber = {{ investor.phone_number }};
        const phoneNumberObj = {
            true: phoneNumber.toString(),
            false: "*********"
        }
        const showButtonObj = {
            true: " Hide",
            false: " Show"
        }
        let visible = false;
        const numberSpan = document.getElementById("phoneNumber");
        const showNumberSpan = document.getElementById("showNumber")
        showNumberSpan.addEventListener('click', () => {
            visible = !visible;
            numberSpan.innerHTML = phoneNumberObj[visible];
            showNumberSpan.innerHTML = showButtonObj[visible];
        })

        function initMap(){
            var apartmentLocation = {lat: {{apartment.latitude}}, lng: {{apartment.longitude}}}
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: apartmentLocation
            });

            var marker = new google.maps.Marker({
                position: apartmentLocation,
                map: map,
                title: '{{ apartment }}'
            })
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" defer async></script>
{% endblock %}